@import 'reset.scss';

/* variaveis */
:root {
    --header-color: #1D1D1F;
    --font-color: ;
    --container: 1000px;
}

header {
    background-color: var(--header-color);
    width: 100%;
}

.container{
    max-width: var(--container);
    margin: 0 auto;
}