/* @import 'reset.scss'; */
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
/* variaveis */
$white1: #f5f5f7;
$blue: #1f97ff;
$black1: #131313;
$black3: #333333;
$gray: #d6d6d6;
$box-shadow: 2px 4px 12px rgb(0 0 0 / 8%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  background-color: $white1;
}

a {
  display: block;
  text-decoration: none;
}

.container {
  max-width: 980px;
}

.header {
  width: 100%;

  position: fixed;

  top: 0;
  z-index: 999;

  background-color: rgba(17, 17, 17, 0.8);
  backdrop-filter: blur(20px);
}

.header-container {
  max-width: 1044px;
  margin: 0 auto;
}

.nav-list-desktop {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-link {
  color: $gray;
  display: block;
  padding: 5px 10px;
  font-size: 13px;
  opacity: 1;
  transition: 0.5s ease;

  &:hover {
    opacity: 0.7;
  }
}

.nav-mobile {
  display: none;
}

.nav-list-mobile {
  display: none;
}

.logo {
  padding-top: 5px;
}

@media (max-width: 679px) {
  .nav-list-desktop {
    display: none;
  }

  .nav-mobile {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .hamburguer {
    width: 25px;
    height: 25px;
    position: relative;
    z-index: 900;

    &:after {
      content: "";
      position: absolute;
      top: 38%;
      left: 23%;
      width: 55%;
      height: 4%;
      background-color: $gray;
      transition: 1s ease;
    }

    &:before {
      content: "";
      position: absolute;
      top: 63%;
      left: 23%;
      width: 55%;
      height: 4%;
      background-color: $gray;
      transition: 1s ease;
    }
  }

  .hamburguer.hamburguer-active {
    width: 25px;
    height: 25px;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 23%;
      width: 55%;
      height: 4%;
      transform: rotate(225deg);
      background-color: $gray;
    }

    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 23%;
      transform: rotate(-405deg);
      width: 55%;
      height: 4%;
      background-color: $gray;
    }
  }

  .nav-list-mobile {
    width: 100%;
    height: 0;
    position: fixed;
    top: -1100%;
    opacity: 0.5;
    z-index: 0;
    background-color: #030303;
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 40px 30px;
    flex-direction: column;
    transition: 1s ease;
  }

  .nav-item-mobile {
    width: 100%;
    margin: 5px 0px;
  }

  .nav-link-mobile {
    display: block;
    color: $gray;
    width: 100%;
    padding-top: 10px;
    border-top: 1px solid #333;
    font-size: 13px;
    opacity: 1;
    transition: 0.5s ease;

    &:hover {
      opacity: 0.7s;
    }
  }

  .nav-list-mobile.active {
    top: 0;
    height: 100vh;
    opacity: 1;
  }

  .search {
    width: 100%;
    height: 25px;
    border-radius: 5px;
    border: 0;
    padding: 0px 10px;
    background-color: #1f1f1f;
    outline: none;
    color: #888;
  }
}
